<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">


	<title>Curtis Charles Burgerlicious Eat DaBurger Menu</title>
</head>

<body>
	<img src="/assets/img/burger.jpeg" width="200px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2019 Curtis Charles</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/ccharles2388/agency/">Portofolio Reference Work</a>
				<a class="grey-text text-lighten-4 right" href="https://yourway-burger.herokuapp.com/">Deployment URL </a>>
			</div>
		</div>
	</footer>
</body>
</html>