<!-- HEADER SECTION -->
<div class="header">
  <h2 class="move-center">Eat Da Yummy Burger</h2>
</div>
<br>
<!-- MAIN SECTION -->
<div class="main">

  <div class="row">
    <div class="col-md-4">
      <h3>Delicious Burgers Available</h3>
      {{#each burgers}}
      {{#unless this.devoured}}
      <div>
        <h4>{{this.burger_name}}</h4>
      </div>
      <div>
        <img src="/assets/img/burger.jpeg" width="50px">
      </div>
      <div>
        <form>
          <button class="btn" onclick="devouerBurger({{this.id}})" type="button">Devour Me!!</button>
        </form>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Delicious Burgers Devoured</h3>
      {{#each burgers}}
      {{#if this.devoured}}
      <div>
        <h4>{{this.burger_name}}</h4>
      </div>
      <div>
        <img src="/assets/img/burger.jpeg" width="50px">
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>

</div>



<div class="row">
  <div class="col-md-4">
    <h2>Add a New Burger</h2>
    <div>
      <form>
        <div class="form-group">
          <label for="bn">Burger Name : </label>
          <input id='burger_name' type="text" id="bn" name="burger_name">
        </div>
        <br>
        <div class="form-group">
          <label for="dchoice">Eaten?</label><br>
          <input type="radio" name="devoured" value="0" checked>Not Devoured<br>
          <input type="radio" name="devoured" value="1">Devoured<br><br>
        </div>
        <button onclick='addBurger()' class="newBurgerBtn" type="button">Burger It!</button>
      </form>
    </div>
  </div>
</div>
</div>

<!-- FOOTER SECTION -->
<div class="footer">
</div>

<script>
  async function addBurger() {
    const burger_name = document.getElementById('burger_name').value
    await fetch('/api/burgers', {
      method: 'POST',
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify({ burger_name, devoured: false })
    })
    window.location.reload()
  }

  async function devouerBurger(id) {
    const burger_name = document.getElementById('burger_name').value
    await fetch(`/api/burgers/${id}`, {
      method: 'PUT',


    })
    window.location.reload()
  }
</script>