body{
  text-align: center;
  background-color: orangered;
}

h1, h2, button{
  font-family: 'Luckiest Guy', cursive;
}

.jumbotron{
  background-color:black;
  padding: 2%;
  color: white;
  background-image: url("../img/space.jpg");
  background-size: 100% 100%;
}
