body{
  text-align: center;
  background-color: orangered;
}

h1, h2 {
  font-family: 'Luckiest Guy', cursive;
}



button {
  color: olivedrab;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}